.App {
  text-align: center;
  background-color: #fff; /* Initial background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.show-about-us {
  background-color: #fff; /* Change background color to white when showing 'About Us' */
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  position: absolute; /* Position absolute for easy placement */
  top: 50%;
  left: 50%; /* Center horizontally initially */
  transform: translate(-50%, -50%); /* Centering trick */
  transition: top 1s ease, left 0.1s ease; /* Smooth position transition */
  /* height: 50%; */
}

.animate-logo{
  top: 15%;
}

.about-us-section {
  margin-top: 40vh; /* Add margin to separate logo and 'About Us' section */
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
  margin-bottom: 2vh;
  margin-top: 5vh;
}