@font-face {
  font-family: 'Arizonia';
  src: url('./fonts/Arizonia.ttf') format('opentype');
}

body {
  margin: 10%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: 'Arizonia';
}
