@font-face {
    font-family: 'Arizonia';
    src: url('./fonts/Arizonia.ttf') format('opentype');
}


body {
    margin: 0;
    font-family: 'Arizonia' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
  }

.logo-img{
    width: 50%;
    position: relative;
    left: 50%;
}