@import './styles/tailwind.css';
@font-face {
  font-family: 'UnicaOneRegular';
  src: url('./styles/fonts/UnicaOneRegular.ttf') format('truetype'); /* Update the path and format */
  /* Add other font properties if needed: font-weight, font-style, etc. */
}
@font-face {
  font-family: 'BlackOpsOneRegular';
  src: url('./styles/fonts/BlackOpsOneRegular.ttf') format('truetype'); /* Update the path and format */
  /* Add other font properties if needed: font-weight, font-style, etc. */
}
body {
  background-color: #c5c5c5;
  color: #333333;
  font-size: calc(10px + 2vmin);
  /* font-family: 'UnicaOneRegular'; */
}
.unicaFont {
  font-family: 'UnicaOneRegular';
  color: #41907a;
}
.opsFont {
  font-family: 'BlackOpsOneRegular';
}
.App {
  text-align: center;
}

.App-logo {
  height: 60vh;
  pointer-events: none;
}

.comingsoon-gif {
  height: 30vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'UnicaOneRegular';
}

.App-link {
  color: #61dafb;
}

.animated-text {
  animation: slide-in 3s ease forwards;
  opacity: 0;
  animation-iteration-count: 1;
  color: #333333;
  font-family: 'UnicaOneRegular';
  font-size: 2rem;
}

.no-header {
  margin-top: 20vh;
}

.slick-slider {
  width: 50% !important;
  text-align: center;
}

.slick-dots {
  position: relative !important;
}

.carousel-div {
  background: linear-gradient(to top, #888888, #ffffff);
  border-radius: 90px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 50px 40px;
  transition: all 0.3s ease;
  width: 30vh !important;
  height: 28vh !important;
}

@media (max-width: 1024px) {
  .no-header {
    margin-top: 4vh;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}
