@import './styles/tailwind.css';
@font-face {
  font-family: 'UnicaOneRegular';
  src: url('./styles/fonts/UnicaOneRegular.ttf') format('truetype'); /* Update the path and format */
  /* Add other font properties if needed: font-weight, font-style, etc. */
}
@font-face {
  font-family: 'BlackOpsOneRegular';
  src: url('./styles/fonts/BlackOpsOneRegular.ttf') format('truetype'); /* Update the path and format */
  /* Add other font properties if needed: font-weight, font-style, etc. */
}
body {
  background-color: #c5c5c5;
  color: #333333;
  font-size: calc(10px + 2vmin);
  font-family: 'UnicaOneRegular';
}
.App {
  text-align: center;
}

.App-logo {
  height: 60vh;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.animated-text {
  animation: slide-in 10s ease forwards;
  opacity: 0;
  animation-iteration-count: infinite;
  color: #333333;
  font-family: Nunito !important;
  font-size: xxx-large;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
