.page {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  color: white;
}
.services-font {
  font-size: xxx-large;
}
