.page {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: visible;
  color: #41907a;
  padding-left: 5%;
}
.services-font {
  font-size: xx-large;
}
.services-font-small {
  font-size: large;
}
.button-div {
  margin-top: 20px;
}
.hover {
  cursor: pointer;
}
